[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wheel = "*"
packaging = "*"
matplotlib = "*"
numpy = "*"
torch = "*"
scipy = "*"

[requires]
python_version = "3.8"
